<div class="mask" style="background-color: rgba(0, 0, 0, 0.8); min-height: 100vh; max-height:fit-content + 10vh;">
<div class="text-white">
<center><h1>Group "{{group.Name}}" information:</h1></center>
<ul>
    <p> - Name: {{group.Name}}</p>
    <p> - Description: {{group.Description}}</p>
    <p> - id: {{group.groupId}}</p>
    <p> - Movies:
        <ul>
            {{#each group.movies}}
                <p><img src="https://image.tmdb.org/t/p/w500{{poster_path}}" width="60" height="80" alt=""> {{fullTitle}} {{imDbRating}}</p>
                <form class="d-flex" action="/users/{{../group.user_Id}}/groups/{{../group.groupId}}/deleteMovie/{{id}}" method="POST">
                <button class="btn btn-outline-primary mb-3" type="submit">- Delete movie</button>
                </form>
                <p class="card-text"><strong>Release Date:</strong> {{release_date}}</p>
                <p class="card-text"><strong>Run Time:</strong> {{runtimeMins}} minutes</p>
                <p class="card-text"><strong>Rating:</strong> {{vote_average}}</p>
                <p class="card-text"><strong>Overview:</strong> {{overview}}</p>
            {{/each}}
        </ul>
    </p>
    <p>
        - Run Time of my group: {{group.TotalTime}} minutes
    </p>
</ul>
</div>  
</div>
