<section class="bg-secondary">
  <link rel="stylesheet" href="/css/style.css" />
  <div class="movie-container">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5 text-center">
          <img
            src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}"
            alt="{{movie.title}} Poster"
            class="img-fluid movie-poster"
          />
        </div>
        <div class="col-md-6">
          <div class="movie-info">
            <h2 class="card-title">{{movie.title}} </h2>
            <p class="card-text"><strong>Release Date:</strong>
              {{movie.release_date}}</p>
            <p class="card-text"><strong>Run Time:</strong>
              {{movie.runtime}}
              minutes</p>
            <p class="card-text"><strong>Rating:</strong>
              {{movie.vote_average}}</p>
            <p class="card-text"><strong>Overview:</strong>
              {{movie.overview}}</p>
            <hr class="mt-4" />
            <h3 class="section-heading">Genres</h3>
            <p class="card-text">{{#each movie.genres}}{{this.name}}{{#unless
                  @last
                }}, {{/unless}}{{/each}}</p>
            <h3 class="section-heading">Production Companies</h3>
            <p class="card-text">{{#each
                movie.production_companies
              }}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}</p>
            <hr class="mt-4" />
            <form
              class="d-flex mb-3"
              role="search"
              action="/auth/groups{{search}}"
            >
              <button
                class="btn btn-outline-primary"
                type="search"
                name="movieId"
                value="{{movie.id}}"
              >+ Add movie</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>