<body>
  <link rel="stylesheet" href="/css/style.css" />
  <div class="mask bg-dark">
    <div class="result-header text-white">
      <h1>{{title}}:</h1>
      <form>
        <input type="hidden" name="expression" value="{{expression}}" />
        <label for="limit">Limit:</label>
        <input
          type="number"
          name="limit"
          id="limit"
          value="{{limit}}"
          class="form-control me-2"
        />
        <label for="skip">Skip:</label>
        <input
          type="number"
          name="skip"
          id="skip"
          value="{{skip}}"
          class="form-control me-2"
        />
        <button type="submit" class="btn btn-outline-primary">Apply</button>
      </form>
    </div>
    <div class="text-white result-container">
      <ul class="movie-list">
        {{#each movies}}
          {{#if poster_path}}
            <li class="movie-item">
              <img
                src="{{poster_path}}"
                alt="{{title}} Poster"
                class="movie-image"
              />
              <div class="movie-details">
                <h4><a href="/movies/movie/{{id}}">{{title}}</a></h4>
                <p><strong>Description:</strong> {{overview}}</p>
              </div>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</body>